html, body {
    height: 100%; 
    font-family: "Open Sans"
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
    width: 475px;
    height: 250px;
}

.card-left {
    background: linear-gradient(to bottom, #00b1b3, #1d5086);
}

.card-skill {
    background: rgba(0, 0, 0, .4);
}

.color-inherit {
    color: inherit;
}